.loginContainer {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  .Wrspper {
    width: 25%;
    padding: 25px;
    background-color: white;
    .title {
      font-size: 24px;
      font-weight: 300;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        flex: 1;
        width: 96%;
        margin: 10px 0;
        padding: 10px;
      }
      button {
        width: 40%;
        border: none;
        padding: 15px 20px;
        background-color: teal;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;
        &:disabled {
          color: green;
          cursor: not-allowed;
        }
      }
      span {
        margin: 5px 0px;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
