@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.newsLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  background-color: #fcf5f5;

  .title {
    font-size: 70px;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    @include mobile {
      text-align: center;
    }
  }
  .inputContainer {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    @include mobile {
      width: 80%;
    }
    input {
      flex: 8;
      height: 100%;
      border: none;
      padding-left: 20px;
      &:focus {
        border: none;
      }
    }
    button {
      height: 100%;
      flex: 1;
      border: none;
      background-color: teal;
      color: white;
    }
  }
}
